body {
  background-color: #000;
  background:#000;
  font-family:sans-serif;
  margin:0px;
  padding:0px;
}
.btn-container {
  text-align: center;
  margin-bottom: -30%;
}

.start-container {
  text-align: center;
  margin-top: 300px;
}
h1 {
  text-transform: uppercase;
  color: #000000;
}
.start-text {
  text-transform: uppercase;
  color: #ffffff;
}