<ul class="navbar-nav mr-auto">
  <div class="dropdown">
    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <i class="fa fa-list-alt fa-3x" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">1) The yellow vaccine should be next to red</a>
      <a class="dropdown-item" href="#">2) The purple vaccine should be above the green but not next to it.</a>
      <a class="dropdown-item" href="#">3) The purple vaccine should.</a>
      <a class="dropdown-item" href="#">4) but below the blue, and not next to it.</a>
      <a class="dropdown-item" href="#">5) the place for the white vaccine is directly above the orange one.</a>
      <a class="dropdown-item" href="#">6) 4 other vaccines should be above the red one.</a>
      <a class="dropdown-item" href="#">7) the Yellow above green.</a>
      <a class="dropdown-item" href="#">8) On 7th place is the vaccine.</a>
      <a class="dropdown-item" href="#">9) The purple is next to lightblue.</a>
    </div>
  </div>
</ul>