{% extends 'engine/main.html' %}
{% load static %}

{% block content %}

  <img id='pict' src="{{ picture }}">

    <script>
    $(document).ready(function() {
      p = document.body.querySelector("#pict");
      p.height = window.innerHeight;
      p.width = window.innerWidth;
    });
  </script>

{% endblock content %}

{% block btn %}
  <ul class="navbar-nav mx-auto">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'laboratory' %}">
              Laboratory
          </a>
      </li>
      <li class="nav-item">
      <form class="form-inline" action="{% url 'tv_puzzle' %}" method="GET">
          <input name = "ans1" class="form-control mr-sm-2" type="text" aria-label="Search1">
          <input name = "ans2" class="form-control mr-sm-2" type="text" aria-label="Search2">
          <input name = "ans3" class="form-control mr-sm-2" type="text" aria-label="Search3">
          <input name = "ans4" class="form-control mr-sm-2" type="text" aria-label="Search4">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enter</button>
      </form>
      </li>
  </ul>
{% endblock btn %}