{% extends 'engine/main.html' %}
{% load static %}

{% block head %}
<style>
  a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 800;
  }
</style>
<script src="{% static 'engine/lib/okzoom.js' %}"></script>
{% endblock head %}

{% block hint %}

<div class="btn-group dropleft">
  <button type="button" class="btn btn-light btn-secondary dropdown-toggle btn-lg" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    HINT
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">{{ hint_1 }}</a>
  </div>

</div>
{% endblock hint %}

{% block content %}
<script>
  $(document).ready(function () {
    var video = back_video('{{ video }}');
    video.play();
  });
</script>
{% endblock content %}

{% block btn %}
<ul class="navbar-nav mr-auto">
  <!-- <li class="nav-item">
    <div class="countdown">
      <span id="clock"></span>
      vdf
    </div>
  </li> -->
  <li class="nav-item">
    <a class="nav-link text-light" href="">
      <i class="fa fa-undo fa-3x" aria-hidden="true"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" onclick="play_pause()" href="#">
      <i class="fa fa-play fa-3x" aria-hidden="true"></i>
    </a>
  </li>
</ul>
<ul class="navbar-nav ml-auto">


  {% if next_btn %}
  <li class="nav-item">
    <a class="nav-link text-light" href="{{ next_btn }}">
      <i class="fa fa-fast-forward fa-3x" aria-hidden="true"></i>
    </a>
  </li>
  {% endif %}
</ul>

  <ul class="navbar-nav ml-auto">     
    <li class="nav-item">
      <form class="form-inline my-2 my-lg-0" action="" method="POST">
        {% csrf_token %}
        <input name="answer" class="form-control mr-sm-2" type="search" placeholder="Type somthing...">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
      </form>
    </li>
  </ul>


{% endblock btn %}