{% extends 'engine/main.html' %}
{% load static %}


{% block hint %}

<div class="btn-group dropleft">
  <button type="button" class="btn btn-light btn-secondary dropdown-toggle btn-lg" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    HINT
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">{{ hint_1 }}</a>
  </div>

</div>
{% endblock hint %}

{% block content %}


  <img id='pict' src="{% static 'engine/images/microscope_look_loupe.jpg' %}">
  <script>
    p = document.body.querySelector("#pict");
    p.height = window.innerHeight;
    p.width = window.innerWidth;

  </script>

{% endblock content %}

{% block btn %}
<ul class="navbar-nav mx-auto">
  <li class="nav-item">
    <form class="form-inline my-2 my-lg-0" action="" method="POST">
      {% csrf_token %}
      <input name="ans" class="form-control mr-sm-2" type="search" placeholder="Type your answer...">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-check"
          aria-hidden="true"></i></button>
    </form>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link text-light" href="{% url 'microscope' %}">
      <i class="fa fa-fast-backward fa-3x" aria-hidden="true"></i>
    </a>
  </li>
</ul>

{% endblock btn %}
