{% extends 'engine/main.html' %}
{% load static %}



{% block content %}
<div class="row justify-content-center">
<div id="farme" style="max-width: 4000px; max-height: 4000px;">
  <div style="left: 0px; width: 100%; height: 0px;   position: fixed;
   padding-bottom: 100%; overflow: hidden;">
    <iframe src="{% static 'engine/3d/InLab.html' %}" allowfullscreen
      style="position: absolute; top: 0px; left: auto; right: auto; height: 100%; width: 1px; min-width: 100%; *width: 100%;"
      frameborder="0" scrolling="no">
    </iframe>
  </div>
</div>
</div>
<script>
  p = document.body.querySelector("#farme");
    p.height = window.innerHeight;
    p.width = window.innerWidth;
</script>

{% endblock content %}

{% block btn %}
  <ul class="navbar-nav mx-auto">
    <li class="nav-item mx-1">
       <a class="nav-link btn btn-light" href="{% url 'tv' %}">
         TV
       </a>
    </li>
      <li class="nav-item mx-1">
        <a class="nav-link btn btn-light" href="{% url 'suites' %}">
          Suites
        </a>
      </li>
           <li class="nav-item mx-1">
        <a class="nav-link btn btn-light" href="{% url 'table' %}">
          Table
        </a>
     </li>
      <li class="nav-item mx-1">
        <a class="nav-link btn btn-light" href="{% url 'small_table' %}">
          Probes
        </a>
     </li>
      <li class="nav-item mx-1">
        <a class="nav-link btn btn-light" href="{% url 'reagents' %}">
          Reagents
        </a>
     </li>
     
      <li class="nav-item mx-1">
        <a class="nav-link btn btn-light" href="{% url 'microscope' %}">
          Microscope
        </a>



      </li>
    <li class="nav-item mx-1">
      <a class="nav-link btn btn-light" href="{% url 'door' %}">
        Door
      </a>
    
    
    
    </li>
  </ul>

{% endblock btn %}