{% extends 'engine/main.html' %}
{% load static %}
{% block content %}
  <div class="start-container">
    <img src="{% static 'engine/images/start.png' %} " width="500px" style="margin-top: 200px;">
  </div>
  <div class="container" style="text-align: center; margin-top: 40px;">
    <a href="{% url 'intro1' %}" class="btn btn-outline-light mx-4" style="width: 150px;" role="button" aria-pressed="true">TRY YOURSELF</a>
    <a href="{% url 'intro1' %}" class="btn btn-outline-light mx-4 " style="width: 150px;" role="button" aria-pressed="true">RULS</a>
  </div>
  <script>
      $(document).ready(function() {
        back_video('{{ video }}', true).play();
      });
  </script>
{% endblock content %}



