{% extends 'engine/main.html' %}
{% load static %}
{% block content %}
  <div class="start-container">
    <h3 class="start-text">
      <p>YOU HAVE A CHANCE TO </p>
      <p>INVESTIGATE A MYSTERY</p>
      <br>
      <p>IT’S TIME TO GATHER</p>
      <p>YOUR THOUGHTS</p>
      <p>AND CALL FRIENDS</p>
      <p>(ZOOM, FACETIME, ETC)</p>
      <br>
      <p>BEFORE YOU START,</p>
      <p>READ THE RULES.</p>

    </h3>

    <a href="{% url 'intro1' %}" class="btn btn-outline-light" role="button" aria-pressed="true">TRY YOURSELF</a>
    <button class="btn btn-outline-light" role="button" aria-pressed="true" onclick="document.body.querySelector('.start-text').innerText = '1. Ruls 1 #\n2. Ruls 2#\n3. Ruls 3\n4. Ruls 4#'">RULES</button>
  </div>

  <script>
      $(document).ready(function() {
        back_video('{{ video }}', true).play();
      });
  </script>
{% endblock content %}



